.producto{
    width: 90%;
    height: auto;
    overflow: hidden;
    border-radius: 7px;
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    border: 5px solid #6c6c6c;
    display: grid;
    margin: 10px;
}
.producto-titulo{margin: 0;color: black;}
#frase{font-size: 25px;}

.carritoCantidad{
    font-size: 12px;
    float: right;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid var(--fourth-color);
    justify-content: center;
}

.cont p{
    margin: 0;
    height: 15%;
}
.imagenProducto{
    width: 100%;
    height: 85%;
    /* border-radius: 18px 0 0 18px ; */
}
.contenidoProducto{
    width: 100%;
    height: auto;

}
.descripcion{
    height: 100%;
    padding: 0 15px;
}
.descripcion p{
    margin: 0;
    font-size: 22px;
    text-align: justify;
}

.btnProducto{
    background-color: var(--primary-color);
    border: none;
}
.btnProducto:hover{
    background-color: var(--third-color);
    cursor: pointer;
}
.contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 350px){
    .producto{
        margin: auto;
        width: 80%;
        height: 400px;
    }
}

@media (min-width: 425px){
    .contenedorProductos{
        display: grid;
        grid-template-columns: 400px;
    }
    .producto{
        width: 75%;
    }
}

@media (min-width: 600px){
    .contenedorProductos{
        grid-template-columns: 450px;
    }
    .producto{
        height: 450px;
    }
}

@media (min-width: 768px){
    .contenedorProductos{
        clear: both;
        display: flex;
    }
    .cont{
        width: 22%;
        height: 100%;
        border-bottom: 0;
        border-right: 5px solid #6c6c6c;
    }
    .producto{
        width: 100%;
        height: 25%;
        display: flex;
    }
    .imagenProducto{
        height: 70%;
    }

    .cont p{
        height: auto;
    }
    .descripcion p{
        font-size: 18px;
    }
}

@media (min-width: 1024px){
    .cont{
        width: 17%;
    }
    .descripcion{
        width: 90%;
        margin: auto;
        overflow: visible;
    }
    .descripcion p{
        font-size: 22px;
    }
}

@media (min-width: 1440px){
    .contenedorProductos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    
    .producto{
        width: 90%;
        height: 100%;
    }

    .cont{
        width: 20%;
    }
}

@media (min-width: 1600px){

    .contenedorProductos{
        gap: 70px;
    }
    .cont{
        width: 17%;
    }
}