.recipe-title{
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
}


.frame-content{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
    margin: 25px auto;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 1px 3px .9px rgb(37, 37, 37);
    text-align: justify;
}



.frame-content p {
  margin-left: 30px;
  margin-right: 25px;
}

.recipe-img-cont{
      text-align: center;
}
.recipe-img{
    width: 100%;
    height: 100%;
    border: 6px solid #ffffff94;
    border-radius: 8%;
}

.imgDiff{
  width: 100%;
  justify-self: self-start;
}

.subtitle{
    text-decoration: underline;
}

.btn_recipe{
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.buttons{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn_author-recipe{
  width: 32%;
  min-height: 6vh;
  background-color: var(--secondary-color);
  border-radius: 15px;
}

.recipe-step{
  margin-bottom: 16px;
}

.recipe-ingredient{
  margin-bottom: 10px;
}

#recipeCategories{
  margin: 0;
}

.noTopMargin{
  margin-top: 0;
}


/* From Uiverse.io by TroyRandall */ 
/* The switch - the box around the slider */
.comment-react {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    scale: 1.5;
    width: 100px;
  }
  
  .comment-react button {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
  }
  
  .comment-react button:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: -3px;
    top: -3px;
    background-color: #f5356e;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
  }
  
  .comment-react button svg {
    position: relative;
    z-index: 9;
  }
  
  .comment-react button:hover:after {
    animation: ripple 0.6s ease-in-out forwards;
  }
  
  .comment-react button:hover svg {
    fill: #f5356e;
  }
  
  .comment-react button:hover svg path {
    stroke: #f5356e;
    fill: #f5356e;
  }
  
  .comment-react hr {
    width: 80%;
    height: 1px;
    background-color: #dfe1e6;
    margin: auto;
    border: 0;
  }
  
  .comment-react span {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    color: #707277;
    padding-right: 10px;
    text-align: center;
  }

  .ingredientesReceta, .pasosReceta{
    width: 90%;
    text-align: start;
    word-wrap: break-word;
  }

  .contenedorTop{
    margin-bottom: 5%;
  }

  .contenedorDescripcion{
    width: 100%;
    word-wrap: break-word;
    padding: 10px;
    background-color: #ffffff94;
    border-radius: 10px;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0);
      opacity: 0.6;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  



@media (min-width:375px) {
  .frame-content{
    max-width: 350px;
  }
}

@media (min-width: 425px){
  .frame-content{
    max-width: 400px;
  }
}

@media (min-width:768px) {
  .frame-content{
    max-width: 700px;
  }

  .recipe-img{
    border: 12px solid #ffffff94;
    border-radius: 5%;
  }

  .contenedorTop{
    margin-bottom: 3%;
  }

  .btn_recipe{
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .frame-content{
    max-width: 900px;
  }
  .recipe-img{
    border-radius: 4%;
  }
}

@media (min-width: 1440px) {
  .contenedorTop{
    margin-bottom: 2.5%;
  }
  
  .recipe-img{
    border-radius: 3%;
  }
}