.contenedor-tarjetas{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Fija el número de columnas */
    padding: 16px;
    gap: 50px;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px; 
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px #0009;
}
.card-content-image {
    width: 100%;
}
.card-image {
    width: 100%;
    height: auto; 
    border-radius: 8px 8px 0 0;
}


/* ----------------------------------- */

.card-content {
    width: 90%;
    margin: auto;
    background-color: #ffffff94;
    box-shadow: 0 0 5px #0009;
}

.title-card {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
}
.card-title {
    font-weight: bolder;
    font-size: 18px;
}
.card-subtitle {
    font-size: 18px;
}

@media (min-width: 720px) {
    /* Contenedor padre */
    .contenedor-tarjetas{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Fija el número de columnas */
        padding: 16px;
        gap: 50px;
        justify-items: center;
    }

    /* .container {
        justify-content: space-around; Distribuye las tarjetas
        
    } */

    /* Tarjetas */
    .card { 
        max-width: 320px; 
        min-height: 500px;
        max-height: 540px;  
    }
    .card-content {
        min-height: 260px;
        max-height: 265px;
        padding: 5px 5px;
        margin-top: 13px;
    }
    .title-card{
        font-size: 1.0em;
    }
    .card-title{
        font-size: .9em;
    }
    .card-subtitle{
        font-size: .8em;
    }


}

@media (min-width:1024px){
    .contenedor-tarjetas{
        grid-template-columns: 1fr 1fr;
        row-gap: 100px;
        gap: 105px;
    }

    .card {
        max-width: 340px;
        min-height: 462px;
        max-height: 462px
    }

    .card-content {
        min-height: 220px;
        max-height: 220px;
        margin-top: 10px;
        padding: 5px 5px;
    }
}
@media (min-width:1370px){
    .contenedor-tarjetas{
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
    .card{
        max-width: 350px;
        min-height: 467px;
        max-height: 500px;
    }
}
@media (min-width:1552px){
    .contenedor-tarjetas{
        grid-template-columns: repeat(4, 1fr);
        gap: 55px;
    }
    .card{
        max-width: 325px;
        min-height: 468px;
        height: auto;
        max-height: 488px;
        margin: 15px 0;
        padding-bottom: 15px;
    }
    .card-content{
        padding: 5px 5px;
        min-height: 250px;
        height: auto;
        max-height: 250px;
    }

    .card-title{
        font-size: 1em;
    }

    .card-subtitle{
        font-size: 0.9em;
    }
}