/* ESTILOS VINCULADOS A LA BARRA DE BUSQUEDA Y FILTROS */
.search-title{text-align: center;}

.search-bar-cont{
    width: 100%;
    height: 20%;
}
.search-bar{
    width: 100%;
    height:100%;
    display: flex;
    padding:10px;
    text-align: center;
}
.search-inpt{
    width: 90%;
    display: block;
    padding: 5px 8px ;
    border: 1px solid var(--fourth-color);
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    background-color: var(--secondary-color);
}
.search-inpt:focus-visible{
    outline: none;
    background-color: white;
}
.search-btn{
    width: 10%;
    height: 30px;
    background-color: var(--primary-color);
    border: 1px solid var(--fourth-color);
    border-left: none;
    border-radius: 0 20px 20px 0;
    
}

/* PRUEBA DE FILTROS */
.filters {
    width: 100%;
    min-height: 5vh;
    overflow-x: hidden;
    white-space: nowrap;
}

.filter-menu {
    width: 100%;
    height: 7vh;
    display: flex; 
    white-space: nowrap;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    background-color: var(--primary-color);
    overflow-x: auto; /* Habilita el scroll horizontal */
}

.filter{
    width: 45%;
    margin: 0 8px;
    padding: 0 10px;
    background-color: var(--secondary-color);
    align-self: center;
    text-align: center;
    border: 1px solid #000;
}

.filter-inpt{
    width: 20px;
    background-color: red;
}

.filter-menu::-webkit-scrollbar {
    display: none;}


/* RECETAS */
.recipe-content{
    width: 100vw;
}

.contenedorPaginacionBusqueda{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.paginacionBusqueda{
    margin-top: 7%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-page{
    width: 30%;
    height: 130%;
    font-size: 12px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 8px 2px;

}

.pageNum{
    font-size: 1.6em;
}

@media (min-width: 768px){
    .search-bar{
        width: 80%;
        height: 65px;
        margin: auto;
        font-size: 12px;
    }
    .search-btn{
        height: 45px;
    }

    .paginacionBusqueda{
        margin-top: 4%;
        width: 40%;
    }
    .btn-page{
        width: 30%;
        height: 110%;
        font-size: 1em;
    }

}


@media (min-width: 1024px){
    .paginacionBusqueda{
        width: 50%;
    }

    .btn-page{
        width: 25%;
        height: 100%;
        font-size: 1em;
    }
}

@media (min-width: 1440px){
    .paginacionBusqueda{
        width: 40%;
    }
    .btn-page{
        width: 30%;
        font-size: 1.3em;
    }
}

@media (min-width: 2540px){
    .paginacionBusqueda{
        width: 30%;
    }
    
    .btn-page{
        width: 30%;
        height: 60px;
        font-size: 1.5em;
    }
}

