.container{
    width: 100vw;
    height: 100px;
}

.cont-soon{
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
    text-align: center;
}
.image-soon{
    width: 100%;
    border-radius: 10% 25%;
    max-width: 600px;
}

.soon-text{
    text-align: center;
    font-weight: bold;
}


@media (min-widh:760px){

}