.cont-soon{
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
    text-align: center;
}
.image-soon{
    width: 100%;
    border-radius: 10% 25%;
    max-width: 600px;
}


