.backgroundForm { 
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.842);
}

.form-user {
  width: 90%;
  height: 20px;
  height: max-content;
  margin: 20px 0;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0 0 60px #000;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-head{
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.form-btnClose{
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: grey;
  transform: scale(.8);
}
.bts{padding: 8px;}

.form-btnChange{
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
}

.form-btnClose:hover{color: black;transform: scale(1)}

.form-user-content{
  width: 100%;
  height: auto;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title{
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.form-input{
  display: block;
  width: 90%;
  height: 35px;
  margin: auto;
  margin: 15px auto;
  border: none;
  outline: none;
  color: var(--fourth-color);
  font-weight: bold;
  background-color: var(--secondary-color);
  border-bottom: 2.8px solid #a3a3a3;
}
.form-input::placeholder{color: var(--fourth-color);}
.form-input:hover{border-bottom: 1px solid #5a5a5a;}
.form-input:focus{border-bottom: 1px solid #000000;}
.btn_submit{text-align: center;}
.btn-form{
  width: 200px;
  height: 35px;
  margin: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px #0009;
  font-size: 18px;
  background-color: var(--secondary-color);
}
.btn-form:hover{box-shadow: 1px 2px var(--secondary-color);}

@media (min-width: 430px){
  .form-user{
    width: fit-content;
    height: 350px;
  }
}

@media (min-width: 500px){
  .form-user{
    width: 40%;
    height: fit-content;
    /* margin: 10% auto; */
  }
}

@media (min-width: 720px){
  .form-user{
    width: 45%;
  }
}


@media (min-width:  760px){
  .form-user{
    width: 35%;
    height: max-content;
  }
  .form-input{
    font-size: 16px;
  }
}

@media (min-width:  1024px){
  .form-user{
    width: 30%;
  }

  .form-input{
    height: 45px;
  }
  .btn-form{
    width: 200px;
    height: 45px;
  }
}

@media (min-width:1440px){

  .form-user-content{
    margin: 25px auto;
  }
}
@media (min-width:1920px){
    .form-user{
      height: 35%;
    }
}